  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-8">
    <div class="max-w-7xl mx-auto text-center">
        <p class="text-gray-400">&copy; 2025 Kilangan Tebu Uni Des. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
